<ion-view title="Klaarstaande vragenlijsten">
  <ion-content padding="true">
    <p>De volgende lijsten staan op dit moment klaar voor u om in te vullen:</p>
    <ion-list>
      <ion-item>
        OQ-45
      </ion-item>
      <ion-item>
        Klanttevredenheidsvragenlijst
      </ion-item>
      <ion-item>
        SBG-MDS
      </ion-item>
    </ion-list>
    <button class="button button-block button-positive icon-right ion-chevron-right">
      Beginnen met invullen
    </button>
  </ion-content>
</ion-view>
